<div class="container">
    <div class="left-column">
        <a href="">
            <div class="logo">
                <img src="images/logo.svg" alt="Box of Legends" class="img-fluid" width="300" />
            </div>
        </a>
        <span class="copyright">
            © 2025 Box of Legends - The League of Legends and the Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. We remember you that we have stolen these assets and we don't have any rights.
        </span>
    </div>
    <div class="center-column">
        <div class="address">
            <p class="league">
                <span class="gold">
                    4 Rue Paul Montrochet
                </span>
                <br/>
                Lyon
                <br/>
                France
            </p>
        </div>
    </div>
    <div class="right-column">
        <ul class="menu">
            <li>
                <a href="">My orders</a>
            </li>
            <li>
                <a href="">Help</a>
            </li>
        </ul>
    </div>
</div>