<section id="newsletter">
    <div class="container">
        <div class="section-header">
            <div class="left-column">
                <h2 class="section-title">Newsletter</h2>
                <span class="subtitle">
                    Subscribe to our newsletter to receive exclusive offers and the latest news.
                </span>
            </div>
            <div class="right-column">
                <form class="newsletter-form">
                    <input type="email" class="form-control" placeholder="Enter your email address">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <img src="images/newsletter.jpg">
</section>

<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="">
                <div class="logo">
                    <img src="images/logo.svg" alt="Box of Legends" class="img-fluid mb-4" width="300" />
                </div>
            </a>
            <div class="d-flex gap-4">
                <a href="">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="">
                    <ion-icon name="logo-discord"></ion-icon>
                </a>
            </div>
            <div class="copyright mt-4">
                © 2025 Box of Legends - The League of Legends and the Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. We remember you that we have stolen these assets and we don't have any rights.
            </div>
            <div class="d-flex gap-4 mt-4">
                <img src="images/icons/mastercard.svg" alt="Mastercard" class="img-fluid" width="50"/>
                <img src="images/icons/visa.svg" alt="Mastercard" class="img-fluid" width="50"/>
                <img src="images/icons/apple_pay.svg" alt="Mastercard" class="img-fluid" width="50"/>
                <img src="images/icons/google_pay.svg" alt="Mastercard" class="img-fluid" width="50"/>
            </div>
            </div>
            <div class="col-3">
                <div class="address">
                    <h4 class="league gold">Address</h4>
                    <span>
                        4 Rue Paul Montrochet,<br/>69002 Lyon,<br/>France
                    </span>
                </div>
                <div class="phone">
                    <h4 class="league gold mt-4">Phone</h4>
                    <span>
                        +33 6 66 66 66 66
                    </span>
                </div>
                <div class="email">
                    <h4 class="league gold mt-4">Email</h4>
                    <span>
                        hello@box-of-legends.com
                    </span>
                </div>
            </div>
            <div class="col-3">
                <h4 class="league gold">Products</h4>
                <ul class="products-footer menu">
                    <li>
                        <a href="">Controller</a>
                    </li>
                    <li>
                        <a href="">Fighter</a>
                    </li>
                    <li>
                        <a href="">Mage</a>
                    </li>
                    <li>
                        <a href="">Marksman</a>
                    </li>
                    <li>
                        <a href="">Slayer</a>
                    </li>
                    <li>
                        <a href="">Tank</a>
                    </li>
                    <li>
                        <a href="">Specialist</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <h4 class="league gold">Legal informations</h4>
                <ul class="menu">
                    <li>
                        <a href="">General conditions of sale</a>
                    </li>
                    <li>
                        <a href="">Legal notices</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>