@page "/auth"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using box_of_legends.Data

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<div class="container py-4">
    <AuthorizeView Context="authContext">
        <div class="user-profile">
            <div class="title">
                Profile
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-6">
                        <div class="card p-4 shadow">
                            <a href="/Account/Manage/Email">Manage your email</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card p-4 shadow">
                            <a href="/Account/Manage/ChangePassword">Manage your password</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card p-4 shadow">
                            <a href="/Account/Manage/PersonalData">Manage your personal data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthorizeView>
</div>
