@page "/"
@using box_of_legends.Data
@using Microsoft.EntityFrameworkCore

<PageTitle>Home</PageTitle>

<div class="hero">
    <img src="images/hero.jpg" class="background-image">
    <div class="container">
        <div class="text">
            <span class="title white">
                Beautiful.
            </span>
            <span class="title gold">
                Cool.
            </span>
            <span class="title white">
                Fun.
            </span>
        </div>
    </div>
</div>

<section id="most-wanted">
    <div class="container">
        <div class="section-header">
            <div class="left-column">
                <h2 class="section-title">Most<span class="gold-text">wanted</span></h2>
                <span class="subtitle">
                    Our customer favorites that keep flying off the shelves.
                </span>
            </div>
            <div class="right-column">
                <div class="swiper-controls">
                    <div class="most-wanted-previous control">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div class="most-wanted-next control">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="swiper most-wanted-swipe">
                <div class="swiper-wrapper">
                    @foreach (var product in products)
                    {
                        <div class="swiper-slide">
                            <a href="/product/@(product.Id)-@(product.Name.ToLower())">
                                <div class="product--card">
                                    <img src="images/product-test.png" class="product-image img-fluid" alt="Mel">
                                    <div class="product-details">
                                        <span class="product-name">Mel</span>
                                        <span class="product-price">$19.99</span>
                                    </div>
                                    <a class="add-to-cart">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </a>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="categories">
    <div class="container">
        <div class="section-header">
            <div class="left-column">
                <h2 class="section-title">Our<span class="gold-text">categories</span></h2>
            </div>
            <div class="right-column">
                <div class="swiper-controls">
                    <div class="categories-previous control">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div class="categories-next control">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="categories">
            <div class="swiper categories-swipe">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/controller.webp" class="category-image img-fluid"
                                     alt="Controller">
                                <div class="category-details">
                                    <span class="category-name">Controller</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/fighter.png" class="category-image img-fluid"
                                     alt="Fighter">
                                <div class="category-details">
                                    <span class="category-name">Fighter</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/Mage.webp" class="category-image img-fluid"
                                     alt="Mage">
                                <div class="category-details">
                                    <span class="category-name">Mage</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/marksman.webp" class="category-image img-fluid"
                                     alt="Marksman">
                                <div class="category-details">
                                    <span class="category-name">Marksman</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/slayer.webp" class="category-image img-fluid"
                                     alt="Slayer">
                                <div class="category-details">
                                    <span class="category-name">Slayer</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/tank.webp" class="category-image img-fluid"
                                     alt="Tank">
                                <div class="category-details">
                                    <span class="category-name">Tank</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div class="category--card">
                                <img src="images/categories/specialist.webp" class="category-image img-fluid"
                                     alt="Specialist">
                                <div class="category-details">
                                    <span class="category-name">Specialist</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener('load', function () {
        new Swiper('.most-wanted-swipe', {
            // Optional parameters
            loop: true,

            slidesPerView: 5,
            
            autoplay: true,
            
            spaceBetween: 20,

            // Navigation arrows
            navigation: {
                nextEl: '.most-wanted-next',
                prevEl: '.most-wanted-previous',
            },
        });

        new Swiper('.categories-swipe', {
            // Optional parameters
            loop: false,

            slidesPerView: 5,

            spaceBetween: 20,

            // Navigation arrows
            navigation: {
                nextEl: '.categories-next',
                prevEl: '.categories-previous',
            },
        });
    })
</script>

@inject IDbContextFactory<ApplicationDbContext> DbFactory

@code {
    private List<box_of_legends.Models.Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        products = await context.Product
            .ToListAsync();
        products = products
            .OrderBy(x => Random.Shared.Next())
            .Take(10)
            .ToList();
    }
}