@page "/"

<PageTitle>Home</PageTitle>

<div class="hero">
    <img src="images/hero.jpg" class="background-image">
    <div class="container">
        <div class="text">
            <span class="title white">
                Beautiful.
            </span>
            <span class="title gold">
                Cool.
            </span>
            <span class="title white">
                Fun.
            </span>
        </div>
    </div>
</div>

<section id="most-wanted">
    <div class="container">
        <div class="section-header">
            <div class="left-column">
                <h2 class="section-title">Most<span class="gold-text">wanted</span></h2>
                <span class="subtitle">
                    Our customer favorites that keep flying off the shelves.
                </span>
            </div>
            <div class="right-column">
                <div class="swiper-controls">
                    <div class="most-wanted-previous control">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div class="most-wanted-next control">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="swiper most-wanted-swipe">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product--card">
                            <img src="images/product-test.png" class="product-image" alt="Mel">
                            <div class="product-details">
                                <span class="product-name">Mel</span>
                                <span class="product-price">$19.99</span>
                            </div>
                            <a class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener('load', function () {
        const swiper = new Swiper('.most-wanted-swipe', {
            // Optional parameters
            loop: true,

            slidesPerView: 5,
            
            autoplay: true,
            
            spaceBetween: 20,

            // Navigation arrows
            navigation: {
                nextEl: '.most-wanted-next',
                prevEl: '.most-wanted-previous',
            },
        });
    })
</script>